<!DOCTYPE html>
<html lang="es-ec">
<head>
</head>
<body>
    
    <!-- //breadcrumb -->
    <!--/banner-bottom -->
    <section class="banner-bottom py-5">
        <div class="container-fluid py-md-4 inner-sec-w3ls">
            <div class="header-w3layouts text-center mb-5">
                <h3 class="title-w3pvt mb-5">Siempre estamos felices de ayudarte.!</h3>
            </div>
            <!-- //breadcrumb -->
            <div>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a asp-controller="Home" asp-action="Index">CASA</a>
                    </li>
                    <li class="breadcrumb-item active">Contactanos</li>
                </ol>
            </div>
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1994.363782829664!2d-78.47693920604238!3d-0.21001192550903623!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91a15bb03556da5d%3A0xf463f5e4a73140b2!2sCentral%20University%20of%20Ecuador!5e0!3m2!1sen!2secu!4v1628633925391!5m2!1sen!2secu"></iframe>

                <div class="main_grid_contact">
                    <div class="form">
                        <h3 class="text-capitalize mb-4">Ponte en Contacto</h3>
                        <form action="#" method="post">
                            <div class="input-group mt-3">
                                <input type="text" class="margin2 form-control" name="name" placeholder="Full Name" required="">
                                <input type="text" name="name" class="form-control" placeholder="Subject" required="">
                            </div>
                            <div class="input-group mt-3">
                                <input type="email" class="margin2 form-control" name="email" placeholder="mail@example.com" required="">
                                <input type="text" name="number" class="form-control" placeholder="phone number" required="">
                            </div>
                            <div class="input-group mt-3">
                                <textarea rows="4" cols="50" class="form-control" placeholder="message"></textarea>
                            </div>
                            <div class="input-group1 mt-3">
                                <button class="submit btn form-control">Send </button>
                            </div>
                        </form>
                    </div>
                    <div class="contact-right-info">
                        <h3 class="text-capitalize mb-3">Contact Info</h3>
                        <p class="">Maecenas ac euismod eros. Aliquam a suscipit nibh. Aliquam iaculis erat porta mauris fermentum lacinia.</p>
                        <address>
                            <p class="mt-3"><span class="fa fa-map-marker"></span> 1380H 4th cross, Kmome St, NY 10002,<span> Canada.</span> </p>
                            <p class="my-2"><span class="fa fa-phone"></span> +14 999 888 7773 </p>
                            <p class=""><span class="fa fa-envelope-open"></span> <a href="mailto:mail@example.com">mail@example.com</a> </p>
                        </address>
                    </div>
                </div>
            </div>
            <ul class="list-unstyled row text-center mt-lg-5 mt-4 px-lg-5">
                <li class="col-lg-4 adress-w3pvt-info">
                    <div class=" adress-icon">
                        <span class="fa fa-map-marker"></span>
                    </div>

                    <h6>Location</h6>
                    <p>
                        The company name
                        <br>Addison Township, IL, USA.
                    </p>
                </li>
                <li class="col-lg-4 adress-w3pvt-info">
                    <div class="adress-icon">
                        <span class="fa fa-envelope-open-o"></span>
                    </div>
                    <h6>Email</h6>
                    <a href="mailto:info@example.com" class="mail">mail@example.com</a>
                    <br>
                    <a href="mailto:info@example.com" class="mail">mail2@example.com</a>
                </li>
                <li class="col-lg-4 adress-w3pvt-info">

                    <div class="adress-icon">
                        <span class="fa fa-mobile"></span>
                    </div>

                    <h6>Phone Number</h6>
                    <p>+ 1234567890</p>
                    <p>+ 0987654321</p>
                </li>
            </ul>
        </div>
    </section>
</body>
</html>