<!DOCTYPE html>
<html lang="es-ec">
<head>
    <title>Medizin Medical Category Bootstrap Responsive Web Template | Departments :: W3layouts</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Medizin Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

    </script>
    <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="~/css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/css/slider.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <!-- font-awesome-icons -->
    <link href="~/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <!-- /Fonts -->
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700" rel="stylesheet">
    <!-- //Fonts -->
</head>

<body>
    <!--/banner-bottom -->
    <section class="banner-bottom py-5" id="Departamentos">
        <div class="container py-md-5">
            <div class="header-w3layouts text-center mb-5">
                <h3 class="title-w3pvt mb-5">Nuestros Departamentos</h3>
            </div>
            <!-- //breadcrumb -->
            <div>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a asp-controller="Home" asp-action="Index">CASA</a>
                    </li>
                    <li class="breadcrumb-item active">Departamentos</li>
                </ol>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 gal-img">
                    <a href="#gal1"><img src="~/images/g1.jpg" alt="Medizin" class="img-fluid mt-4"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 gal-img">
                    <a href="#gal2"><img src="~/images/g2.jpg" alt="Medizin" class="img-fluid mt-4"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 gal-img">
                    <a href="#gal3"><img src="~/images/g3.jpg" alt="Medizin" class="img-fluid mt-4"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 gal-img">
                    <a href="#gal4"><img src="~/images/g4.jpg" alt="Medizin" class="img-fluid mt-4"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 gal-img">
                    <a href="#gal3"><img src="~/images/g3.jpg" alt="Medizin" class="img-fluid mt-4"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 gal-img">
                    <a href="#gal1"><img src="~/images/g1.jpg" alt="Medizin" class="img-fluid mt-4"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 gal-img">
                    <a href="#gal6"><img src="~/images/g6.jpg" alt="Medizin" class="img-fluid mt-4"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 gal-img">
                    <a href="#gal5"><img src="~/images/g5.jpg" alt="Medizin" class="img-fluid mt-4"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 gal-img">
                    <a href="#gal4"><img src="~/images/g4.jpg" alt="Medizin" class="img-fluid mt-4"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 gal-img">
                    <a href="#gal6"><img src="~/images/g6.jpg" alt="Medizin" class="img-fluid mt-4"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 gal-img">
                    <a href="#gal2"><img src="~/images/g2.jpg" alt="Medizin" class="img-fluid mt-4"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 gal-img">
                    <a href="#gal5"><img src="~/images/g5.jpg" alt="Medizin" class="img-fluid mt-4"></a>
                </div>
            </div>
            <!-- gallery popups -->
            <!-- popup-->
            <div id="gal1" class="popup-effect">
                <div class="popup">
                    <img src="~/images/g1.jpg" alt="Popup image" class="img-fluid mt-4" />
                    <a class="close" href="#gallery">&times;</a>
                </div>
            </div>
            <!-- //popup -->
            <!-- popup-->
            <div id="gal2" class="popup-effect">
                <div class="popup">
                    <img src="~/images/g2.jpg" alt="Popup image" class="img-fluid mt-4" />
                    <a class="close" href="#gallery">&times;</a>
                </div>
            </div>
            <!-- //popup -->
            <!-- popup-->
            <div id="gal3" class="popup-effect">
                <div class="popup">
                    <img src="~/images/g3.jpg" alt="Popup image" class="img-fluid mt-4" />
                    <a class="close" href="#gallery">&times;</a>
                </div>
            </div>
            <!-- //popup -->
            <!-- popup-->
            <div id="gal4" class="popup-effect">
                <div class="popup">
                    <img src="~/images/g4.jpg" alt="Popup image" class="img-fluid mt-4" />
                    <a class="close" href="#gallery">&times;</a>
                </div>
            </div>
            <!-- //popup -->
            <!-- popup-->
            <div id="gal5" class="popup-effect">
                <div class="popup">
                    <img src="~/images/g5.jpg" alt="Popup image" class="img-fluid mt-4" />
                    <a class="close" href="#gallery">&times;</a>
                </div>
            </div>
            <!-- //popup -->
            <!-- popup-->
            <div id="gal6" class="popup-effect">
                <div class="popup">
                    <img src="~/images/g6.jpg" alt="Popup image" class="img-fluid mt-4" />
                    <a class="close" href="#gallery">&times;</a>
                </div>
            </div>
            <!-- //popup -->
            <!-- //gallery popups -->
        </div>
    </section>
    <!-- //banner-bottom -->
</body>

</html>