@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="es-ec">

<head>
    <title>Medizin Medical Category Bootstrap Responsive Web Template | Home :: W3layouts</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Medizin Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="~/css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/css/slider.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <!-- font-awesome-icons -->
    <link href="~/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <!-- /Fonts -->
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700" rel="stylesheet">
    <!-- //Fonts -->
</head>

<body>
    <div class="csslider infinity" id="slider1">
        <input type="radio" name="slides" checked="checked" id="slides_1" />
        <input type="radio" name="slides" id="slides_2" />
        <input type="radio" name="slides" id="slides_3" />
        <input type="radio" name="slides" id="slides_4" />
        <ul>
            <li>
                <div class="banner-top">
                    <div class="overlay">
                        <div class="container">
                            <div class="banner-info">
                                <div class="banner-w3layouts-inner">
                                    <h3>Cuidamos y protegemos <span>tu</span> salud.</h3>
                                    <h4>Ayudaremos a encontrar la salud, para todos.</h4>
                                    <!-- Referencia -->
                                    <a class="read btn mt-3" asp-area="" asp-controller="Home" asp-action="MasInformacion">Leer más</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
             <li>
                <div class="banner-top1">
                    <div class="overlay">
                        <div class="container">
                            <div class="banner-info">
                                <div class="banner-w3layouts-inner">
                                    <h3>Cuidamos y protegemos <span>tu</span> salud.</h3>
                                    <h4>Ayudaremos a encontrar la salud, para todos.</h4>
                                    <!-- Referencia -->
                                    <a class="read btn mt-3" asp-area="" asp-controller="Home" asp-action="MasInformacion">Leer más</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
             <li>
                <div class="banner-top2">
                    <div class="overlay">
                        <div class="container">
                            <div class="banner-info">
                                <div class="banner-w3layouts-inner">
                                    <h3>Cuidamos y protegemos <span>tu</span> salud.</h3>
                                    <h4>Ayudaremos a encontrar la salud, para todos.</h4>
                                    <!-- Referencia -->
                                    <a class="read btn mt-3" asp-area="" asp-controller="Home" asp-action="MasInformacion">Leer más</a>>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="banner-top3">
                    <div class="overlay">
                        <div class="container">
                            <div class="banner-info">
                                <div class="banner-w3layouts-inner">
                                    <h3>Cuidamos y protegemos <span>tu</span> salud.</h3>
                                    <h4>Ayudaremos a encontrar la salud, para todos.</h4>
                                    <!-- Referencia -->
                                    <a class="read btn mt-3" asp-area="" asp-controller="Home" asp-action="MasInformacion">Leer más</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="arrows">
            <label for="slides_1"></label>
            <label for="slides_2"></label>
            <label for="slides_3"></label>
            <label for="slides_4"></label>
        </div>
    </div>
    <!--/banner-bottom -->
    <section class="banner-bottom py-5">
        <div class="container-fluid inner-sec-w3ls">
            <div class="feature-grids row text-center">
                <div class="col-lg-3 gd-bottom one">
                    <div class="bottom-gd">
                        <span class="fa fa-wheelchair" aria-hidden="true"></span>
                        <h3 class="mb-2">Equipamiento Moderno</h3>
                        <p>Pellentesque sed sodales nunc. Vestibulum laoreet erat augue.</p>
                    </div>
                </div>
                <div class="col-lg-3 gd-bottom">
                    <div class="bottom-gd">
                        <span class="fa fa-user-md" aria-hidden="true"></span>
                        <h3 class="mb-2">
                            Doctores Famosos
                        </h3>
                        <p>Pellentesque sed sodales nunc. Vestibulum laoreet erat augue.</p>
                    </div>
                </div>
                <div class="col-lg-3 gd-bottom">
                    <div class="bottom-gd">
                        <span class="fa fa-life-ring" aria-hidden="true"></span>
                        <h3 class="mb-2">Monitoreo de Salud</h3>
                        <p>Pellentesque sed sodales nunc. Vestibulum laoreet erat augue.</p>
                    </div>
                </div>
                <div class="col-lg-3 gd-bottom">
                    <div class="bottom-gd">
                        <span class="fa fa-folder-open-o" aria-hidden="true"></span>
                        <h3 class="mb-2">Reservar una Visita</h3>
                        <p>Pellentesque sed sodales nunc. Vestibulum laoreet erat augue.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //banner-bottom -->
    <!-- /last-content -->
    <section class="last-content">
        <div class="overlay-last">
            <div class="container text-center">
                <div class="last-w3pvt-inner-content row">
                    <div class="col-md-6 offset-md-6">
                        <form action="#" class="booking" method="post">
                            <h3 class="mb-4">Agendar Cita</h3>
                            <div class="form-group">
                                <input placeholder="Tu Nombre" name="name" type="text" required="">
                                <input placeholder="Número de Contacto" name="number" type="text" required="">
                                <input placeholder="Dirección" type="text" required="">
                                <input placeholder="Horario" type="text" required="">
                                <button class="book-appo btn mt-3">Cita Rápida</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //last-content -->
    <section class="banner-bottom py-5">
        <div class="container py-md-5">
            <div class="row banner-grids mb-lg-5">
                <div class="col-lg-4 content-left">
                    <img src="~/images/ab.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-lg-4 content-left">
                    <img src="~/images/ab1.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-lg-4 content-right">
                    <h5 class="mt-1">Confía en Nosotros</h5>
                    <h4>Ayudaremos a encontrar la salud, para todos.</h4>
                    <p class="mt-2 text-left">Integer pulvinar leo id viverra feugiat. Sed porttitor orci vel fermentum elit maximus. Curabitur ut turpis massa in condimentum libero.</p>
                    <ul class="tic-info list-unstyled">
                        <li>
                            <span class="fa fa-hand-o-right"></span> Integer sit amet mattis quam
                        </li>
                        <li>
                            <span class="fa fa-hand-o-right"></span> Praesent ullamcorper dui turpis
                        </li>
                        <li>
                            <span class="fa fa-hand-o-right"></span> Integer sit amet mattis quam
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row mt-lg-5 mt-4 pt-5 text-center" id="stats">
                <div class="col-lg-4 counter editContent mt-3">
                    <span class="fa fa-users"></span>
                    <div class="counter-info">
                        <h4>7200+</h4>
                        <p>Clientes saludables y felices</p>
                    </div>
                </div>
                <div class="col-lg-4 counter two editContent mt-3">
                    <span class="fa fa-user-md"></span>
                    <div class="counter-info">
                        <h4>150+</h4>
                        <p>Especialistas médicos profesionales</p>
                    </div>
                </div>
                <div class="col-lg-4 counter editContent mt-3">
                    <span class="fa fa-diamond"></span>
                    <div class="counter-info">
                        <h4>15+</h4>
                        <p>Años de trabajo impecable y exitoso</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /tabs -->

    <section class="tabs-blue py-5">
        <div class="container pt-md-5">
            <div class="header-w3layouts text-center mb-5">
                <h3 class="title-w3pvt mb-3">Nuestros Servicios</h3>
            </div>
            <div class="tab-main mx-auto">
                <input id="tab1" type="radio" name="tabs" class="w3layouts-sm" checked>
                <label for="tab1">Cardiología</label>
                <input id="tab2" type="radio" class="w3layouts-sm" name="tabs">
                <label for="tab2">Cirugía</label>
                <input id="tab3" type="radio" class="w3layouts-sm" name="tabs">
                <label for="tab3">Laboratorio</label>
                <input id="tab4" type="radio" class="w3layouts-sm" name="tabs">
                <label for="tab4">Terapeuta</label>
                <section id="content1" class="inner-w3layouts-wrap">
                    <div class="row part-grids text-center inner-sec-w3ls">
                        <div class="col-md-6 partgrid2">
                            <div class="thumbnail card">
                                <div class="img-event">
                                    <img class="img-fluid" src="~/images/g1.jpg" alt="">
                                </div>
                                <div class="caption card-body p-md-4">
                                    <h4 class="mb-4 editContent">Praesent ullamcorper </h4>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetuer,sit amet ultricies velit consectetuer adipiscing elit sit
                                    </p>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6 partgrid1">
                            <div class="thumbnail card">
                                <div class="img-event">
                                    <img class="img-fluid" src="~/images/g2.jpg" alt="">
                                </div>
                                <div class="caption card-body p-md-4">
                                    <h4 class="mb-4 editContent">Praesent ullamcorper </h4>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetuer,sit amet ultricies velit consectetuer adipiscing elit sit
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>
                <section id="content2" class="inner-w3layouts-wrap">
                    <div class="row part-grids text-center">

                        <div class="col-md-6 partgrid2">
                            <div class="thumbnail card">
                                <div class="img-event">
                                    <img class="img-fluid" src="~/images/g3.jpg" alt="">
                                </div>
                                <div class="caption card-body p-md-4">
                                    <h4 class="mb-4 editContent">Praesent ullamcorper </h4>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetuer,sit amet ultricies velit consectetuer adipiscing elit sit
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 partgrid1">
                            <div class="thumbnail card">
                                <div class="img-event">
                                    <img class="img-fluid" src="~/images/g2.jpg" alt="">
                                </div>
                                <div class="caption card-body p-md-4">
                                    <h4 class="mb-4 editContent">Praesent ullamcorper </h4>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetuer,sit amet ultricies velit consectetuer adipiscing elit sit
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section id="content3" class="inner-w3layouts-wrap">
                    <div class="row part-grids text-center">

                        <div class="col-md-6 partgrid2">
                            <div class="thumbnail card">
                                <div class="img-event">
                                    <img class="img-fluid" src="~/images/g6.jpg" alt="">
                                </div>
                                <div class="caption card-body p-md-4">
                                    <h4 class="mb-4 editContent">Praesent ullamcorper </h4>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetuer,sit amet ultricies velit consectetuer adipiscing elit sit
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 partgrid1">
                            <div class="thumbnail card">
                                <div class="img-event">
                                    <img class="img-fluid" src="~/images/g7.jpg" alt="">
                                </div>
                                <div class="caption card-body p-md-4">
                                    <h4 class="mb-4 editContent">Praesent ullamcorper </h4>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetuer,sit amet ultricies velit consectetuer adipiscing elit sit
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>
                <section id="content4" class="inner-w3layouts-wrap">
                    <div class="row part-grids text-center">

                        <div class="col-md-6 partgrid2">
                            <div class="thumbnail card">
                                <div class="img-event">
                                    <img class="img-fluid" src="~/images/g5.jpg" alt="">
                                </div>
                                <div class="caption card-body p-md-4">
                                    <h4 class="mb-4 editContent">Praesent ullamcorper </h4>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetuer,sit amet ultricies velit consectetuer adipiscing elit sit
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 partgrid1">
                            <div class="thumbnail card">
                                <div class="img-event">
                                    <img class="img-fluid" src="~/images/g4.jpg" alt="">
                                </div>
                                <div class="caption card-body p-md-4">
                                    <h4 class="mb-4 editContent">Praesent ullamcorper </h4>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetuer,sit amet ultricies velit consectetuer adipiscing elit sit
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>

        </div>
    </section>
    <!-- //tabs -->
    <!-- //last-content -->
    <section class="lab-test py-5" id="lab">
        <div class="container py-md-5">
            <div class="row banner-grids mb-lg-5">
                <div class="col-lg-6 content-right pt-md-4">
                    <h5 class="mt-1">Trut Us</h5>
                    <h4>Excellence Is Our Speciality</h4>
                    <p class="mt-2 text-left">Integer pulvinar leo id viverra feugiat.Sed porttitor orci vel fermentum elit maximus.Integer sit amet mattis quam, sit amet ultricies velit. Nam libero tempore Curabitur ut turpis massa in condimentum libero. </p>
                    <ul class="tic-info list-unstyled">
                        <li>

                            <span class="fa fa-hand-o-right"></span> Integer sit amet mattis quam

                        </li>
                        <li>
                            <span class="fa fa-hand-o-right"></span> Praesent ullamcorper dui turpis

                        </li>
                        <li>
                            <span class="fa fa-hand-o-right"></span> Integer sit amet mattis quam
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 content-left">
                    <img src="~/images/lab.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </section>
    <!-- //lab-test -->

    <!-- /grids-content1 -->
    <section class="testimonials py-5" id="test">
        <div class="container py-lg-3">
            <div class="header-w3layouts text-center mb-5">
                <h3 class="title-w3pvt two mb-3"> Client Reviews </h3>

            </div>
            <div class="test-content">
                <div class="testimonials_grid">

                    <span class="fa fa-quote-left" aria-hidden="true"></span>
                    <p class="sub-test editContent">
                        Integer sit amet mattis quam, sit amet ultricies velit. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod possimus.
                    </p>
                    <div class="testi_grid">
                        <img src="~/images/c1.jpg" alt=" " class="img-fluid">
                        <h5>Thomas Carl</h5>
                        <label>Description </label>
                    </div>
                </div>
            </div>
        </div>
    </section>
 </body>
</html>
