@{
    Layout = ViewBag.Layout; // Establecer el diseño utilizando la variable ViewBag.Layout
}
@model AppWebSistemaClinica.Models.RolViewModel

<html>
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        .w3-btn {
            width: 150px;
        }
    </style>
</head>
<body class="sb-nav-fixed">
    <main>
        <div class="container-fluid px-4">

            <form class="w3-container w3-card-4 w3-light-grey w3-text-blue w3-margin" asp-controller="Administrador" asp-action="CrearRol" method="post">
                <h2 class="w3-center">Crear Rol</h2>

                <div class="w3-row w3-section">
                    <div class="w3-col" style="width:50px"></div>
                    <div class="w3-rest">
                        <span class="text-danger" asp-validation-for="NombreRol"></span>
                        <input class="w3-input w3-border" name="NombreRol" type="text" placeholder="Nombre" asp-for="NombreRol">
                    </div>
                </div>

                <div class="w3-row w3-section">
                    <div class="w3-col" style="width:50px"></div>
                    <div class="w3-rest">
                        <span class="text-danger" asp-validation-for="DescripcionRol"></span>
                        <input class="w3-input w3-border" name="DescripcionRol" type="text" placeholder="Descripción" asp-for="DescripcionRol">
                    </div>
                </div>

                <button class="w3-button w3-block w3-section w3-green w3-round-xlarge" type="submit" 
                asp-controller="Administrador" asp-action="CrearRol">Guardar</button>
                <a asp-controller="Administrador" asp-action="ImprimirRoles" class="w3-button w3-block w3-section w3-red w3-round-xlarge">Cancelar</a>
            </form>

        </div>
    </main>
</body>
</html>
