@{
    ViewData["Title"] = "Index de Otro";
    Layout = "~/Views/Shared/_LayoutOtro.cshtml";
}

<div>
    <h1>Bienvenido a la página. </h1>
    <h1>Este Perfil esta en Construcción (debido a que se registro con otro rol)</h1>

    <!-- Contenido específico de la página -->
</div>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
