@model List<AppWebSistemaClinica.Models.UsuarioViewModel>



    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
<div class="card">
    <div class="card-header">
    <h1>Lista de Usuarios</h1>
    </div>
    <div class="card-body">
        <a class="btn btn-success btn-sm" asp-action="Empleado_Detalle" asp-controller="Home" asp-route-idEmpleado="0">Crear Nuevo</a>
        </div>
    <table class="table-primary">
        <thead>
            <tr class="table-info">
                <!--Aqui van los nombres de las columans-->
                <th class="table-success">ID</th>
                <th class="table-success">USUARIO</th>
                <th class="table-success">CONTRASEÑA</th>
                <th class="table-success">TelefonoCliente</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="table-info">
                    <td class="table-success">@item.IdUsuario</td>
                    <td class="table-success">@item.NombreUsuario</td>
                    <td class="table-success">@item.ContrasenaUsuario</td>
                    <td>
                        <a class="btn btn-primary btn-sm " asp-action="Empleado_Detalle" asp-controller="Home" asp-route-idEmpleado=""> Editar</a>
                        <a class="btn btn-danger btn-sm " asp-action="Eliminar" asp-controller="Home" asp-route-idEmpleado=""> Eliminar</a>
                    </td>
                        <!-- Agrega aquí tus enlaces de acción, si es necesario --> 
                </tr>
            }
        </tbody>
    </table>
</div>