<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
﻿<button type="button" class="btn btn-outline-primary">
    <a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="ImprimirUsuarios">Imprimir el usuario</a>
</button>